@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



h1 {
    color: #F5F5F5;
    font-size: 40px;
}

table {
    margin: auto;
}

.countdown {
    display: flex;
    justify-content: center;
}

.heading {
    color: #F5F5F5;
    font-size: 18px;
    text-transform: uppercase;
}

.time {
    background-color: #090909;
    color: #FFFFFF;
    font-size: 100px;
    width: 150px;
    margin: 0 10px;
}